@page "/ManageReservations"
@using OSsemes.Data.Database;
@using System.Security.Claims;
@inject NavigationManager navManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject DataContext db
@inject Room scopedRoom
@inject Rezervation scopedRes
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage



<InfoModal @ref="chResMod" Text="@infoModText">
</InfoModal>
<ApproveModal @ref="deleteMod" Text="Naozaj chcete odstrániť túto rezerváciu?"
              Header="Odstániť"
              FuncOnSucc="() => Vymaz(oznRezerv)"
              FuncOnDiss="EventCallback.Empty">
</ApproveModal>

<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis txt-font-own">Všetky rezervácie</h1>
        <p class="fs-5 text-body-secondary"></p>
    </div>
</header>

@if (MaRezervacie())
{
    <input type="text" class="mb-2" id="searchTerm" onkeyup="search()" placeholder="Hľadať" />

    <div class="overflow-scroll" style="max-height: 18rem; min-height: 5rem">
        <table class="table" id="tableRes">
            <thead>
                <tr>
                    <th scope="col">Číslo rezervácie</th>
                    <th scope="col">Email hosťa</th>
                    <th scope="col">Meno hosťa</th>
                    <th scope="col">Dátum príchodu</th>
                    <th scope="col">Dátum odchodu</th>
                    <th scope="col">Číslo izby</th>
                    <th scope="col">Počet osôb</th>
                    <th scope="col">Suma k zaplateniu</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var activeR in user.IsInRole("Reception") ? db.Rezervations.Include(r => r.Guest).Include(r => r.Room).Include(c => c.Coupon).Where(x => x.DepartureDate >= DateTime.Now.AddDays(1)).OrderBy(x => x.ArrivalDate) : db.Rezervations.Include(r => r.Guest).Include(r => r.Room).Include(c => c.Coupon).OrderBy(x => x.ArrivalDate))
                {
                    <tr>
                        <td scope="row">@activeR.Id</td>
                        <td>@activeR.Guest.Email</td>
                        <td>@(activeR.Guest.Surname + " " + activeR.Guest.Name)</td>
                        <td>@activeR.ArrivalDate.ToString("dd.MM.yyyy")</td>
                        <td>@activeR.DepartureDate.ToString("dd.MM.yyyy")</td>
                        <td>@activeR.RoomNumber</td>
                        <td>@activeR.NumberGuest</td>
                        <td>@activeR.CelkovaSuma</td>
                        <td>
                            <a type="button" @onclick="(() => Zmen(activeR))"><i class="bi bi-calendar-range btn btn-sm btn-secondary"></i></a>
                            <a type="button" @onclick="(() => VymazAsync(activeR))"><i class="bi bi-calendar-x btn btn-sm btn-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        @* (pomohol som si z internetu tutoriály / AI) *@
        function search() {
            var input, filter, table, tr, td0, td1, td2, i, txtValue;
            input = document.getElementById("searchTerm"); // ziskanie zadanej hodnoty 
            filter = input.value;
            table = document.getElementById("tableRes"); // ziskanie tabulky 
            tr = table.getElementsByTagName("tr"); // ziskanie hodnot v tabulke 

            for (i = 0; i < tr.length; i++) {
                td0 = tr[i].getElementsByTagName("td")[0]; // ziskanie hodnot v riadku 
                td1 = tr[i].getElementsByTagName("td")[1];
                td2 = tr[i].getElementsByTagName("td")[2];
                if (td0 && td1 && td2) {
                    txtValue = td0.textContent || td0.innerText; // kontrola 1 hodnoty 
                    if (txtValue.indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        continue;
                    } else {
                        tr[i].style.display = "none";
                    }
                    txtValue = td1.textContent || td1.innerText; // kontrola 2 hodnoty 
                    if (txtValue.toUpperCase().indexOf(filter.toUpperCase()) > -1) {
                        tr[i].style.display = "";
                        continue;
                    } else {
                        tr[i].style.display = "none";
                    }
                    txtValue = td2.textContent || td2.innerText; // kontrola 3 hodnoty 
                    if (txtValue.toUpperCase().indexOf(filter.toUpperCase()) > -1) {
                        tr[i].style.display = "";
                        continue;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
}
else
{
    <div class="position-relative" style="min-height:7rem">
        <div class="position-absolute  top-50  start-50 translate-middle ">
            <strong>Žiadne aktívne rezervácie</strong>
        </div>
    </div>
}

@code {



    private ClaimsPrincipal user;
    private InfoModal chResMod;
    private ApproveModal deleteMod;
    private Rezervation oznRezerv;

    private string infoModText = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        if (!user.Identity.IsAuthenticated || user.IsInRole("Guest"))     //ak neni nikto prihlaseny
        {
            navManager.NavigateTo("#");
            return;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (await sessionStorage.GetItemAsync<bool>("ResModified"))
            {
                infoModText = "Rezervácia bola úspešné zmenená.";
                await chResMod.OpenModal();
                await sessionStorage.SetItemAsync("ResModified", false);
            }
        }
    }

    private bool MaRezervacie()
    {
        return db.Rezervations.FirstOrDefault(x => x.DepartureDate >= DateTime.Now) != null; //ak existuje zaznam, ktory ma datum odchodu vacsirovny ako terajsi datum(uz je po ubytovani)
    }

    private void Zmen(Rezervation active)
    {
        scopedRes.setFromReservation(active);
        scopedRoom.setFromOtherRoom(new Room());
        navManager.NavigateTo("Accommodation/Reserve");
        return;
    }

    private async void VymazAsync(Rezervation active)       //otvori sa modal s potvrdenim
    {
        oznRezerv = active;
        await deleteMod.OpenModal();
    }
    private void Vymaz(Rezervation active)
    {
        if (active.Coupon is not null) //ak mame kupon tak ho znova aktivujeme pre dalsie pouzitie
        {
            active.Coupon.IsUsed = false;
        }
        db.Remove(active);
        db.SaveChanges();
    }
}
